@import "../../variables"

.Settings
    h1
        margin: 2rem 0

        svg
            fill: $accent-color
            width: 100%

    @media (prefers-color-scheme: light)
        h2, h3, h4
            color: #212121

    @media (prefers-color-scheme: dark)
        h2, h3, h4
            color: #bbbbbb
        p
            color: #777777

    h2, h3
        margin-bottom: 0

    @media (prefers-color-scheme: light)
        .plane
            background-color: white

    @media (prefers-color-scheme: dark)
        .plane
            background-color: #111111

    .plane
        border-radius: 0 1rem 1rem 0
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25)
        max-width: 100%
        height: 100%
        overflow-y: auto
        padding: 0 1rem
        position: absolute
        width: 330px
        transition: transform 0.15s ease-out

    label
        display: block
        margin: 1rem 0

        &:last-child
            margin-bottom: 0

    label + .info
        font-size: 0.9em
        margin-top: -0.75rem

    @media (prefers-color-scheme: light)
        input[type=email],
        input[type=file],
        input[type=number],
        input[type=text],
        input[type=time],
        input[type=url],
        textarea,
        select
            border: 1px solid #bdc3c7

            &.primary
                background-color: #ecf0f1
                border: 0.25em solid #ecf0f1

    @media (prefers-color-scheme: dark)
        input[type=email],
        input[type=file],
        input[type=number],
        input[type=text],
        input[type=time],
        input[type=url],
        input[type=color],
        textarea,
        select
            border: 1px solid #2b2d2f
            color: white !important
            background-color: #313738

            &.primary
                background-color: #313738
                border: 0.25em solid #313738
        
        label
            color: white

    input[type=email],
    input[type=file],
    input[type=number],
    input[type=text],
    input[type=time],
    input[type=url],
    textarea,
    select
        border-radius: 0.2em
        color: inherit
        display: block
        margin: 0.5em 0
        padding: 0.5em
        width: 100%
        overflow: hidden

        & + .input--error
            display: none

        &:invalid + .input--error
            display: block

    input[type=radio],
    input[type=checkbox]
        accent-color: $accent-color
        margin-right: 0.5rem

    input[type=color]
        display: block

    @media (prefers-color-scheme: light)
        .button
            &:disabled
                background-color: #bdc3c7
    @media (prefers-color-scheme: dark)
        .button
            &:disabled
                background-color: #323536

    .button
        border: 0
        border-radius: 2em
        color: white
        cursor: pointer
        display: inline-block
        padding: 0.5em 1em
        text-decoration: none
        transition: background 0.25s ease-out
        text-align: center
        font-weight: 500
        &:disabled
            cursor: default

        &--primary
            background-color: $accent-color
            &:hover
                background: darken($accent-color, 10%)
            &:active
                background: darken($accent-color, 20%)

        &--secondary
            background: darken($accent-color, 20%)
            &:hover
                background: darken($accent-color, 30%)
            &:active
                background: darken($accent-color, 40%)

    @media (prefers-color-scheme: light)
        hr
            border: 1px solid #ecf0f1
    @media (prefers-color-scheme: dark)
        hr
            border: 1px solid #3c3c3c

    hr
        margin: 1rem 0

@media (prefers-color-scheme: light)
    .button--icon
        background-color: #ecf0f1

        &:hover
            background-color: #bdc3c7 !important
@media (prefers-color-scheme: dark)
    .button--icon
        background-color: #404142

        &:hover
            background-color: #212223 !important

.button--icon
    border: none
    border-radius: 1em
    display: inline-block
    padding: 0.5em
    line-height: 1
    height: 2em
    width: 2em
    color: black
    cursor: pointer
    transition: background-color 0.25s ease-out

    &.button--primary
        background-color: $accent-color !important
        color: white
        padding: 0.5em

        &:hover
            background-color: darken($accent-color, 20%) !important

// Define the animation keyframes
@keyframes gradient
    0% 
        background-position: 0% 50%;
    50% 
        background-position: 100% 50%;
    100% 
        background-position: 0% 50%;

.donate
    border: 0
    border-radius: 2em
    color: white
    cursor: pointer
    display: inline-block
    padding: 0.5em 1em
    text-decoration: none
    background-size: 400% 400% !important
    background-position: 100% 100%
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    animation: gradient 30s ease-in-out infinite
    text-align: center
    font-weight: 500