.Settings .Widget
    border: none
    border-radius: 0.5rem
    background: #ecf0f1
    margin: 1em 0
    padding: 1em

    h4
        margin: 0

    .title--buttons
        button
            float: right
            margin: -0.25em 0 0 0.5em

        h4
            cursor: pointer

    .settings
        margin: 1.5rem 0

    p:last-child
        margin-bottom: 0

    .button--icon
        background-color: white

    &.maximized
        .labels-no-margin label
            margin: 0
        .grid-container
            display: flex
            flex-wrap: wrap
            padding: 0 2px
            margin: 0 16px 16px 16px
            justify-content: center

            .cell-1,.cell-2,.cell-3,.cell-4,.cell-5,.cell-6,.cell-7
                padding: 10px
                word-wrap: break-word
                box-sizing: border-box
                &.cell-bg
                    background-color: hsl(0, 0%, 90.2%)
                    border: 1px solid hsl(0, 0.9%, 78.2%)
            .cell-7
                width: 12.2%
                margin: 0
            .cell-4
                width: 23%
                margin: .3%
            .cell-3
                width: 30%
                margin: 1%
            .cell-2
                width: 45%
                margin: 1%
            .cell-1
                width: 98%
                margin: 1%
            .cell-1-1
                width: 80%
