@media (prefers-color-scheme: light)
    .Settings .Widget
        background: #ecf0f1
@media (prefers-color-scheme: dark)
    .Settings .Widget
        background: #2c2c2c

.Settings .Widget
    border: none
    border-radius: 0.5rem
    margin: 1em 0
    padding: 1em

    h4
        margin: 0

    .title--buttons
        button
            float: right
            margin: -0.25em 0 0 0.5em

        h4
            cursor: pointer

    .settings
        margin: 1.5rem 0

    p:last-child 
        margin-bottom: 0

    @media (prefers-color-scheme: light)
        .button--icon
            background-color: white
            i
                svg
                    stroke: black
    @media (prefers-color-scheme: dark)
        .button--icon
            background-color: black
            i
                svg
                    stroke: white
