.custom-select,
.card {
  background-color: var(--layer-1);
  border: none !important;
  box-shadow: var(--shadows);
  border-radius: var(--border-radius);
}

.dropdown-menu {
  background-color: var(--layer-0);
  box-shadow: var(--shadows);
}

.layer-0 {
  background-color: var(--layer-0);
}
