$depth-layers: 3;

:root {
  --shadows: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  --primary: #3498db;

  --border-radius: 0.5rem;

  // Height adjustments
  --layer-diff: 3%;
  @for $i from 0 to $depth-layers {
    --layer-#{$i}: hsl(0, 0%, calc(100% - var(--layer-diff) * #{$i}));
  }
}
