.Dashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: white;
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.Dashboard.preload {
    opacity: 0;
}

.Dashboard a {
    color: white;
}
