@import "variables.sass";

.hidden
    visibility: hidden

.accented
    color: var(--accent-color)

.badge
    background-color: var(--accent-color)
    font-size: 90%
    font-weight: bold
    text-transform: uppercase
    color: rgba(255, 255, 255, 0.75);
    padding-top: 0.35em
    padding-bottom: 0.25em
    padding-left: 0.5em
    padding-right: 0.55em
    border-radius: 1000px

@media (prefers-color-scheme: dark)
    html
        scrollbar-face-color: #646464
        scrollbar-base-color: #646464
        scrollbar-3dlight-color: #646464
        scrollbar-highlight-color: #646464
        scrollbar-track-color: #000
        scrollbar-arrow-color: #000
        scrollbar-shadow-color: #646464
        scrollbar-dark-shadow-color: #646464
        
    ::-webkit-scrollbar
        width: 8px
        height: 3px
    ::-webkit-scrollbar-button
        background-color: #3b3b3b
    ::-webkit-scrollbar-track 
        background-color: #646464
    ::-webkit-scrollbar-track-piece
        background-color: #000
    ::-webkit-scrollbar-thumb
        height: 50px
        background-color: var(--accent-color)
        border-radius: 3px
    ::-webkit-scrollbar-corner
        background-color: #646464
    ::-webkit-resizer
        background-color: #666

*
    box-sizing: border-box

html, body
    font-family: sans-serif
    font-size: 14px
    line-height: 1.25
    color: #5a636a

// Handle init background color, before settings are loaded
// Fallback to system theme
html
    background-color: black
@media (prefers-color-scheme: light)
    html
        background-color: white
// Choose theme if syncronously injected (see `target/<target>/index.html`)
html.theme-light
    background-color: white
html.theme-dark
    background-color: black

a
    color: var(--accent-color)
    cursor: pointer
    text-decoration: none

    &:hover
        text-decoration: underline

h1
    font-size: 4em
    margin-bottom: 0

h2
    font-size: 2em

h3
    font-size: 1.5em

h4
    font-size: 1.25em

h5
    font-size: 1em
    margin: 0

i
    font-family: Arial, sans-serif
    line-height: 1
    vertical-align: middle

    svg
        height: 1em
        width: auto
        overflow: visible !important

.text
    &--grey
        color: #bdc3c7

.fullscreen
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
