@import '~normalize.css'

*
    box-sizing: border-box

html,
body
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif
    font-size: 14px
    line-height: 1.25
    color: #5a636a
    background-color: black

a
    color: #3498db
    cursor: pointer
    text-decoration: none

    &:hover
        text-decoration: underline

h1
    font-size: 4em
    font-weight: 800
    margin-bottom: 0

h2
    font-size: 2em
    font-weight: 700

h3
    font-size: 1.5em
    font-weight: 600

h4
    font-size: 1.25em
    font-weight: 400

i
    font-family: Arial
    line-height: 1
    vertical-align: middle

    svg
        height: 1em
        width: auto
        overflow: visible !important

.text
    &--grey
        color: #bdc3c7
