.Settings .plane {
    position: absolute;
    height: 100%;
    width: 25%;
    max-width: 400px;
    overflow-y: auto;

    background: white;
    padding: 1rem;
    transition: transform 0.25s ease-out;
}

.Settings.slide-enter .plane,
.Settings.slide-exit.slide-exit-active .plane {
    transform: translateX(-100%);
}
.Settings.slide-enter.slide-enter-active .plane,
.Settings.slide-exit .plane {
    transform: translateX(0);
}

.Settings fieldset {
    border: 1px solid #ccc;
    margin: 1em 0;
}

.Settings legend {
    font-weight: bold;
}

.Settings label {
    display: block;
    margin: 1rem 0;
}

.Settings input[type=text],
.Settings input[type=file],
.Settings input[type=number],
.Settings textarea,
.Settings select {
    border: 1px solid #ccc;
    display: block;
    margin: 0.25em 0;
    padding: 0.25em;
    width: 100%;
}

.Settings input[type=color] {
    display: block;
}
