.Settings .plane {
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    padding: 2rem;
    position: absolute;
    width: 350px;

    background-color: white;
    transition: transform 0.25s ease-out;
}

.Settings.slide-enter .plane,
.Settings.slide-exit.slide-exit-active .plane {
    transform: translateX(-100%);
}

.Settings.slide-enter.slide-enter-active .plane,
.Settings.slide-exit .plane {
    transform: translateX(0);
}

.Settings h1 {
    margin: 1rem 0;
}
.Settings h1 svg {
    fill: #3498db;
}

.Settings h2,
.Settings h3,
.Settings h4 {
    color: black;
}

.Settings .box {
    background: #ecf0f1;
    margin: 0 -2rem;
    padding: 1rem 2rem;
}

.Settings label {
    display: block;
    margin: 1rem 0;
}

.Settings input[type=text],
.Settings input[type=file],
.Settings input[type=number],
.Settings textarea,
.Settings select {
    border: 1px solid #bdc3c7;
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
    width: 100%;
    color: inherit;
}

.Settings input[type=color] {
    display: block;
}

.Settings .button--icon {
    background-color: #ecf0f1;
    border: none;
    border-radius: 1em;
    display: block;
    padding: 0.5em;
    height: 2em;
    width: 2em;
    color: black;
    cursor: pointer;
    transition: background-color 0.25s ease-out;
}

.Settings .button--icon svg {
    width: 1rem;
}

.Settings .button--icon:hover {
    background-color: #bdc3c7;
}
